* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Navbar */
.navbar-brand {
    font-family: "Permanent Marker", cursive;
    font-size: 35px;
    font-weight: bold;
    background: linear-gradient(to right, rgb(222, 0, 74),
            #f867f8);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.navbar-nav {
    justify-content: center;
    width: 100%;
}

.nav-link {
    font-size: 16px;
}

.nav-link:hover {
    color: crimson;
}

.navbutton {
    color: crimson;
    border: 2px solid crimson;
    background: transparent;
    width: 100%;
    transition: 1s;
}

.navbutton:hover {
    color: white;
    background-color: crimson;
}

.modal-title {
    font-family: signika;
    font-weight: bold;
    color: crimson;
}

/* Background Image */
.background-image {
    background-image: url('images/pexels-pixabay-458766.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.background-image h1 {
    font-size: 3rem;
    font-family: signika;
    font-weight: bold;
    color: crimson;
}
.background-image h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
}

@media (max-width: 768px) {
    .background-image h1 {
        font-size: 2rem;
        font-family: signika;
        font-weight: bold;
        color: crimson;
    }
    .background-image h2 {
        font-size: 1.25rem;
        font-family: 'Signika', sans-serif;
    font-weight: bold;
    }
}
@media (max-width: 576px) {
    .background-image h1 {
        font-size: 1.75rem;
        font-family: signika;
        font-weight: bold;
        color: crimson;
    }
    .background-image h2 {
        font-size: 1rem;
        font-family: 'Signika', sans-serif;
    font-weight: bold;
    }
}

.background-button {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    margin: 10px;
    padding: 8px 28px;
    transition: 0.6s all;
}

.background-button:hover {
    color: white;
    border: 2px solid rgb(222, 0, 74);
    background: rgb(222, 0, 74);
}

.crimson {
    color: crimson;
    font-family: "Signika", sans-serif;
}

.active-filter-btn {
    background-color: crimson !important;
    color: white !important;
    border-color: crimson !important;
}

.button {
    text-decoration: none;
    color: crimson;
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    border: 2px solid crimson;
    border-radius: 25px;
    background: transparent;
    margin: 10px;
    padding: 8px 28px;
    transition: 0.6s all;
}

.button:hover {
    color: white;
    border: 2px solid rgb(222, 0, 74);
    background: rgb(222, 0, 74);
}

.overlay-container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    /* Optional: add background for better readability */
    padding: 20px;
    border-radius: 10px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
}

.card-title {
    font-weight: bold;
}

img {
    transition: all 0.3s;
}

img:hover {
    transform: scale(1.10);
    border-radius: 10px;
}

.custom-card {
    margin: 15px 15px;
}


.custom-card-width {
    width: 300px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.star-rating i {
    color: gold;
}

/* Footer */
h5,
strong {
    color: crimson;
}
