* {
    padding: auto;
    margin: auto;
}

body {
    overflow-x: hidden;
    font-family: "Permanent Marker", cursive;
}

.background-image {
    background-image: url('images/pexels-pixabay-458766.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 20px;
}

.background-image h1 {
    margin: 0;
}

.background-image h1:first-child {
    color: crimson;
    margin-top: 12%;
    font-size: 60px;
    font-family: signika;
    font-weight: bold;
}

.background-image h1:last-child {
    font-family: 'Signika', sans-serif;
}

.background-btn{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid white;
    border-radius: 25px;
    background: transparent;
    margin: 10px;
    padding: 8px 28px;
    transition: 1s;
}

.background-btn:hover {
    color: white;
    border: 2px solid rgb(222, 0, 74);
    background: crimson;
}

.crimson {
    color: crimson;
    font-family: "Signika", sans-serif;
}
    
#crimson-button {
    text-decoration: none;
    color: crimson;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    border: 2px solid crimson;
    border-radius: 25px;
    background: white;
    margin: 10px;
    padding: 8px 28px;
    transition: 1s;
}

#crimson-button:hover {
    color: white;
    border: 2px solid rgb(222, 0, 74);
    background: crimson;
}

.active-filter-btn {
    background-color: crimson !important;
    color: white !important;
    border-color: crimson !important;
}

.img-fluid {
    width: 100%;
}

.overlay-container {
    position: relative;
    text-align: center;
    color: white;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5); /* Optional: add background for better readability */
    padding: 20px;
    border-radius: 10px;
}

.btn {
    padding: 10px 20px;
    margin: 5px;
}

.card-title {
    font-weight: bold;
}

/* .card {
    transition: all 0.3s;
}

.card:hover {
    transform: scale(1.10);
} */

.custom-card {
    margin: 15px 15px;
}


.custom-card-width {
    width: 300px;
}

.card-title {
    font-weight: bold;
}

.card-text {
    margin-bottom: 10px;
}

.star-rating i {
    color: gold;
}